@model List<Casgem_CodeFirstProject.DAL.Entities.About2>

<section class="w3l-content-with-photo-4" id="about">
    <div class="content-with-photo4-block editContent">
        <div class="container">

            <div class="my-bio">
                <img src="@ViewBag.image" alt="product" class="img-responsive about-me">
                <h3 class="mt-lg-4 mt-3">@ViewBag.title</h3>
                <p class="para mb-3">@ViewBag.desc</p>
            </div>

        </div>
    </div>
    </div>
</section>
<section class="w3l-stats">
    <div class="main-w3 ">
        <div class="container">
            <div class="right-side">
                <h3 class="title-big">Cinque Terre National Park</h3>
                <p class="mt-4 para">
                    Yerel olarak Parco Nazionale delle Cinque Terre olarak bilinen Cinque Terre Ulusal Parkı, La Spezia eyaletinde, kuzey İtalya kıyılarında yer almaktadır . İtalya'daki en küçük milli park olarak 14,9 mil karelik (38,6 km2) bir alanı kaplamaktadır.

                    Bu UNESCO Dünya Mirası Alanı, 5.000 civarında daimi ikamet edenlerin sayısı nedeniyle bir milli park olarak benzersizdir. Rezidans, Corniglia, Manarola, Monterosso al Mare, Riomaggiore ve Vernazza'yı içeren beş kasabada bulunur.

                    Park, tarımsal, kültürel, tarihi, doğal ve manzaralı önemi Cinque Terre Ulusal Parkı çatısı altında bir araya getirmesi bakımından daha da benzersizdir. Bu kasabaların uçurumun engebeli kenarlarına nasıl girift bir şekilde gömüldüğüyle ilgili vizyonu ve yaratıcılığı da temsil ettiğini iddia etmek adil olur.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="w3l-recent-work">
    <div class="jst-two-col">
        <div class="container">
            <div class="row">
                <div class="my-bio cwp4-text col-lg-6">
                    <h3>Wat Non Kum</h3>
                    <p class="para mt-3 mb-lg-4 ">Wat Non Kum, Wat Luang Pho To veya Wat Lan Boon Mahawihan Somdet Phra Buddhacharn Sikhio Bölgesi, Mittraphap Yolu üzerinde, Nakhon Ratchasima (Korat) şehrine yaklaşık 42 kilometre uzaklıkta yer almaktadır.
                    Dünyanın en büyüğü olan Luang Por To'nun (Somdej Toh Promrangsi) siyah bronz bir heykeli kutsanmıştır.</p>
                    <a href="about.html" class="action-button btn mt-4">Devamını Oku <span class="fa fa-angle-double-right"></span></a>
                </div>
                <div class="col-lg-6 ">
                    <img src="~/Templates/go-trip-starter/assets/images/b4.jpg" alt="product" class="img-responsive about-me">
                </div>
            </div>
        </div>
    </div>
</section>