@model  Casgem_CodeFirstProject.DAL.Entities.About
@{
    ViewBag.Title = "AddAbout";
    Layout = "~/Views/Admin/Index.cshtml";
}
<h2>Yeni Rehber Ekleme Sayfası</h2>

<form method="post">
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.AboutTitle, new { @class = "form-control" })
    <br />
   
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.AboutDescription, new { @class = "form-control" })
    <br />
   
    <button class="btn btn-info">Kaydet</button>
</form>
