
<section class="w3l-specification-6">
    <div class="specification-layout editContent">
        <div class="container-fluid">
            <div class="row text-left img-grids">
                <div class="col-lg-6 p-0">
                    <div class="images-right">
                        <div class="p-md-5 p-3">
                            <h4><a href="#url">Işıklar Şehri</a></h4>
                            <p>Paris , Fransa, en çok "Işık Şehri" olarak anılan şehir </p>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6 p-0">
                    <div class="four-grids">
                        <div class="images-text">
                            <div class="ser-bg1">
                                <div class="p-md-5 p-3">
                                    <h4><a href="#url">Fransız Polenezyası</a></h4>
                                    <p>Yerleşilecek ilk Fransız Polinezyası adaları, yaklaşık MÖ 200'de Marquesas Adaları idi. </p>

                                </div>
                            </div>
                        </div>
                        <div class="images-text">
                            <div class="ser-bg4">
                                <div class="p-md-5 p-3">
                                    <h4><a href="#url">Buckingham Sarayı</a></h4>
                                    <p>Buckingham Sarayı, Birleşik Krallık hükümdarlarının yönetim merkezi ve Londra'daki ikametgâhı.</p>

                                </div>
                            </div>
                        </div>
                        <div class="images-text">
                            <div class="ser-bg2">
                                <div class="p-md-5 p-3">
                                    <h4><a href="#url">Avustralya</a></h4>
                                    <p>Avustralya ya da resmî adıyla Avustralya Milletler Topluluğu, Güney Yarım Kürede yer alan kıta ülkesi.</p>
                                </div>
                            </div>
                        </div>
                        <div class="images-text">
                            <div class="ser-bg3">
                                <div class="p-md-5 p-3">
                                    <h4><a href="#url">Türkiye</a></h4>
                                    <p>Türkiye veya resmî adıyla Türkiye Cumhuriyeti, topraklarının büyük bölümü Anadolu'da.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
